SENHA_MESTRA=sua_senha_forte
JWT_SECRET=seu_jwt_secret_super_forte
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_OWNER=seu-usuario-ou-org
GITHUB_REPO=nome-do-repositorio
GITHUB_BRANCH=main
